{% extends "digitalclerk_app/skeleton.html" %}

{% block title %} Digital Clerk - {{ module_code }} {% endblock %}

{% block main %}
	<span class="navigation-box"><a href="{% url 'digitalclerk_app:dashboard' %}">Dashboard</a> / {{ module_code }}</span>
	<h2 class="primary-header1" style="margin-top: 1rem;">This is {{ module_code }} YOU ARE {{user_upi}} STATUS: {{user_status}}</h2>
	<!-- Form to filter lecturer/assistant names -->
	<form id="officeHourFilterForm" action="{% url 'digitalclerk_app:module_details' module_code %}" method="POST">
		{% csrf_token %}
		<div class="form-group">
      		<label for="inputLecturerFilter">Filter Office Hours by Lecturer/Assistant</label>
      		<select id="inputLecturerFilter" name="lecturer" class="form-control">
      			<option value=""></option>
      			<option value="all">Show All</option>
      			{% for lecturer in lecturers %}
        			<option value="{{ lecturer.id }}">{{ lecturer.name }}</option>
   				{% endfor %}
      		</select>
    	</div>
	</form>
	<h4 class="primary-header2">Available office hours</h4><hr class="seperator">
	<div id='officeHourCalendar' style="margin-top: 1rem;"></div>

	<!-- Add office hour modal -->
	<div id="addOfficeHourModal" class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	            	<h4 id="addOfficeHourTitle" class="primary-header2 modal-title"></h4>
	                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only"></span></button>
	            </div>
	            <div id="modalBody" class="modal-body">
	            	<form id="officeHourForm" action="{% url 'digitalclerk_app:add_office_hour' %}" method="POST">
						{% csrf_token %}
						<div class="form-group">
					    	<label for="{{ form.office_hour_title.id_for_label }}">Title:</label>
					    	{{ form.office_hour_title }}
					    </div>
						<div class="form-group">
					    	<label for="{{ form.start_time.id_for_label }}">Start Time:</label>
					    	{{ form.start_time }}
					    </div>
					    <div class="form-group">
					    	<label for="{{ form.end_time.id_for_label }}">End Time:</label>
					    	{{ form.end_time }}
					    </div>
					    <div class="form-group">
					    	<label for="{{ form.location.id_for_label }}">Location:</label>
					    	{{ form.location }}
					    </div>
					    <span id="hiddenFields"></span>
					    <a style="color: white; width: 32%;" id="goOfficeHour" class="btn btn-success" href="">Go to Office Hour</a>
				    	<input style="color: white; width: 32%;" id="deleteOfficeHour" class="btn btn-danger" type="submit" value="Delete" />
				    	<input style="color: white; width: 32%;" id="editOfficeHour" class="btn btn-primary" type="submit" value="Submit" />
					</form>
	            </div>
	        </div>
	    </div>
	</div>
{% endblock %}

{% block optional_js %}
	<script type="text/javascript">
		$(document).ready(function() {
			var date = new Date();
			var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);

			function isoToTimeString(isoDate){
				var dateStr = String(isoDate)
				var dateArray = dateStr.split(' ');
				return dateArray[4].substring(0,5);
			};

			$(function() {
			    $('#inputLecturerFilter').change(function() {
			        this.form.submit();
			    });
			});

			function initModal(modalType, header, title, startTime, endTime, location, submitText){
				$('#addOfficeHourTitle').html(modalType + ' Office Hour (' + header + ')');
				$('#editOfficeHour').val(submitText);
    			$('#id_office_hour_title').val(title);
        		$('#id_start_time').val(startTime);
        		$('#id_end_time').val(endTime);
        		$('#id_location').val(location);
			};

			$('input').addClass("form-control");
			$('select').addClass("form-control");

		    $('#officeHourCalendar').fullCalendar({
		        header: {
		            left: '',
		            center: 'prev title next',
		            right: ''
		        },
		        defaultView: 'month',
		        events:{{office_hours|safe}},
		        validRange:{
		        	start:firstDay
        		},
		        eventClick: function(event, jsEvent, view) {
		        	initModal('', event.date, event.title, isoToTimeString(event.start), isoToTimeString(event.end), event.location, 'Edit')
		        	$('#hiddenFields').html('<input type="hidden" name="module-code" value="{{module_code}}">'
		        							+ '<input type="hidden" name="office-hour-id" value="'+ event.id +'">'
		        						);
		        	$('#officeHourOrganiser').html(event.lecturer);
		        	$('#officeHourForm').attr("action", "{% url 'digitalclerk_app:edit_office_hour' %}");
		        	$('#goOfficeHour').attr("href", "{% url 'digitalclerk_app:office_hour_dashboard_student' %}?office-hour-id=" + event.id + "&lecturer=" + event.lecturer_id);

		        	if('{{user_status}}' !== 'Student'){
		        		$('#goOfficeHour').attr("href", "{% url 'digitalclerk_app:office_hour_dashboard' %}?office-hour-id=" + event.id + "&lecturer=" + event.lecturer_id);
		        	}

		        	if('{{user_status}}' === 'Student' || '{{user_upi}}' != event.lecturer_id){
		        		$('#deleteOfficeHour, #editOfficeHour').hide();
		        		$('#officeHourForm > .form-group > input').prop("disabled", true);
		        		$('#officeHourForm > .form-group > select').prop("disabled", true);
		        	}
		        	else{
		        		$('#deleteOfficeHour, #editOfficeHour').show();
		        		$('#officeHourForm > .form-group > input').prop("disabled", false);
		        		$('#officeHourForm > .form-group > select').prop("disabled", false);
		        		$('#goOfficeHour').attr("href", "{% url 'digitalclerk_app:office_hour_dashboard' %}?office-hour-id=" + event.id + "&lecturer=" + event.lecturer_id);
		        	}

		        	$('#deleteOfficeHour').click(function () {
        				$('#officeHourForm').attr("action", "{% url 'digitalclerk_app:delete_office_hour' %}");
    				});

		        	$('#goOfficeHour, #officeHourOrganiserSection').show();
            		$('#addOfficeHourModal').modal();
        		},
        		dayClick: function(date, jsEvent, view) {
        			var eventDate = date.format();
        			initModal('Add', eventDate, '', '09:00', '09:30', '', 'Add Office Hour')
        			$('#hiddenFields').html('<input type="hidden" name="current-date" value="' + eventDate + '">'
		        							+ '<input type="hidden" name="user-upi" value="{{user_upi}}">'
		        							+ '<input type="hidden" name="module-code" value="{{module_code}}">'
		        						);
        			$('#officeHourForm').attr("action", "{% url 'digitalclerk_app:add_office_hour' %}");
        			$('#deleteOfficeHour, #goOfficeHour, #officeHourOrganiserSection').hide();
        			$('#editOfficeHour').show();

        			if('{{user_status}}' !== 'Student'){
        				$('#addOfficeHourModal').modal();
        				$('#officeHourForm > .form-group > input').prop("disabled", false);
		        		$('#officeHourForm > .form-group > select').prop("disabled", false);
        			}
			    }
		    })

		});
	</script>
{% endblock %}