{% extends "digitalclerk_app/skeleton.html" %}

{% block title %} Office Hour Dashboard {% endblock %}

{% block main %}
	<h2>This is {{ lecturer }}'s office hour</h2>	
	<div class="card">
		<div class="card-header">Raise a request</div>
		<div class="card-body">
			<h4 class="card-title">Your request will be placed in a queue and a peer teacher will be ready to see you soon.</h4>
			<form id="addRequestForm" action="{% url 'digitalclerk_app:add_request' office_hour_id user_upi lecturer_id %}" method="POST">
				{% csrf_token %}
				<div class="form-group">
		      		<label for="{{ request_form.request_title.id_for_label }}">I am working on:</label>
		      		{{ request_form.request_title }}
		    	</div>
		    	<div class="form-group">
		      		<label for="{{ request_form.request_description.id_for_label }}">My problem is:</label>
		      		{{ request_form.request_description }}
		    	</div>
		    	<div class="form-group">
		      		<label for="{{ request_form.tried_solutions.id_for_label }}">I have tried:</label>
		      		{{ request_form.tried_solutions }}
		    	</div>
		    	{% if raised_request == 1 %}
		    		<p style="border: 1px solid red; padding: 0.5rem; color: red;"><strong>You can only raise one request at a time</strong></p>
		    	{% else %}
		    		<input style="color: white; width: 33%;" id="submitRequest" class="btn btn-primary" type="submit" value="Submit Request" />
		    	{% endif %}
			</form>
		</div>
	</div>
	<div class="card" style="margin-top: 1.5rem">
		<div class="card-header">Your request</div>
		<div class="card-body">
			{% if not my_request %}
				<p>You have yet to raise a request</p>
			{% elif my_request %}
				{% if prior_request_count == 0 %}
					<p style="color: blue;"><strong>There are no requests ahead of you. A peer teacher should be seeing you very soon!</strong></p>
				{% else %}
					<p style="color: red;"><strong>There are {{prior_request_count}} requests raised before you. Please wait...</strong></p>
				{% endif %}
        		<p><strong>You are working on</strong>: {{my_request.request_title}}</p>
				<p><strong>Your Problem is</strong>: {{my_request.request_description}}</p>
				<p><strong>You tried</strong>: {{my_request.tried_solutions}}</p>
				{% if interaction %}
					<p>Your peer teacher has opened an interaction! Please see him now</p>
				{% else %}
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editRequestModal">Edit Request</button>
	   				<a href="{% url 'digitalclerk_app:close_request' office_hour_id lecturer_id my_request.id %}" class="btn btn-danger">Close Request</a>
	   			{% endif %}
	   		{% endif %}
		</div>
	</div>

	<!-- Edit Request Modal -->
	{% if my_request %}
		<div class="modal fade" id="editRequestModal" tabindex="-1" role="dialog" aria-hidden="true">
		  	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<h5 class="modal-title" id="exampleModalLabel">Edit Your Request</h5>
		          		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		      				<span aria-hidden="true">&times;</span>
		    			</button>
		      		</div>
			        <div class="modal-body">
			        	<form id="editRequestForm" action="{% url 'digitalclerk_app:edit_request' office_hour_id lecturer_id my_request.id %}" method="POST">
							{% csrf_token %}
							<div class="form-group">
					      		<label for="{{ request_form.request_title.id_for_label }}">I am working on:</label>
					      		{{ request_form.request_title }}
					    	</div>
					    	<div class="form-group">
					      		<label for="{{ request_form.request_description.id_for_label }}">My problem is:</label>
					      		{{ request_form.request_description }}
					    	</div>
					    	<div class="form-group">
					      		<label for="{{ request_form.tried_solutions.id_for_label }}">I have tried:</label>
					      		{{ request_form.tried_solutions }}
					    	</div>
					    	<input style="color: white; width: 33%;" id="editRequest" class="btn btn-primary" type="submit" value="Edit Request" />
						</form>
			        </div>
		    	</div>
		  </div>
		</div>
	{% endif %}
{% endblock %}

{% block optional_js %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('input').addClass("form-control");
			$('textarea').addClass("form-control");

			$('#editRequestForm > .form-group > #id_request_title').val('{{my_request.request_title}}');
			$('#editRequestForm > .form-group > #id_request_description').val('{{my_request.request_description}}');
			$('#editRequestForm > .form-group > #id_tried_solutions').val('{{my_request.tried_solutions}}');
		});
	</script>
{% endblock %}