{% extends "digitalclerk_app/authenticated-view.html" %}

{% block title %} {{user_data.full_name}}'s Profile {% endblock %}

{% block main %}
	<span class="navigation-box"><a href="{% url 'digitalclerk_app:dashboard' %}">Dashboard</a> / {{user_data.full_name}}'s profile </span>
	<div class="card openRequest" style="margin-top: 1rem; width: 100%">
		<div class="card-header card-header-open">
			<strong>User Profile</strong>
		</div>
		<div id="currentlyLoggedInUserDetails">
			<div class="card-body" >
				<h4 class="primary-header2">{{user_data.full_name}}</h4>
				<p class="font-size-md"><strong>Username: </strong>{{user_data.username}}</p>
				<p class="font-size-md"><strong>Department: </strong>{{user_data.department}}</p>
				<p class="font-size-md"><strong>Email: </strong>{{user_data.email}}</p>
				<p class="font-size-md"><strong>Status: </strong>{{user_data.status}}</p>
				<p class="font-size-md"><strong>Number of enrolled modules: </strong>{{num_modules}}</p>
				<p class="font-size-md">
					<div class="font-size-md"><strong>Enrolled modules:</strong></div>
					{% for module in modules %}
						{{ module.module_name }} <span class="link-text">({{ module.module_code }})</span>, 
					{% endfor %}
				</p>
			</div>
		</div>
	</div>
{% endblock %}