{% block content %}
	<nav class="main-header navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
	  		<a class="navbar-brand brand-font" href="{% url 'digitalclerk_app:admin_index' %}">Digital Clerk</a>
	  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
		  	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    	<div class="navbar-nav mr-auto" ></div>
		    	<ul class="navbar-nav navbar-font">
			      	<li class="nav-item">
			        	<a class="nav-link link-text" href="{% url 'digitalclerk_app:process_logout_admin' %}">Logout</a>
			      	</li>
			    </ul>   	
		  	</div>
	  	</div>
	</nav>
{% endblock %}