{% extends "digitalclerk_app/skeleton.html" %}

{% block title %} Office Hour Dashboard {% endblock %}

{% block main %}
	<span class="navigation-box">
		<a href="{% url 'digitalclerk_app:dashboard' %}">Dashboard</a> / 
		<a href="{% url 'digitalclerk_app:module_details' office_hour.module_code %}">{{ office_hour.module_code }}</a> / 
		{{office_hour.title}}
	</span>
	<h2 class="primary-header1" style="margin-top: 1rem;">This is {{ lecturer }}'s office hour</h2>
	{% if user_status != 'Student' %}
		<h4 class="primary-header2" style="margin-top: 1.5rem">
			Open Interactions
		</h4><hr class="seperator">
		<div id="openRequestSection">
			{% if open_interactions %}
				{% for i in open_interactions %}
				<div class="card" style="margin-top: 1rem">
					<div class="card-header card-header-open card-collapse" data-toggle="collapse" href="#interaction{{i.interaction.id}}">
						<span style="float: left">{{i.owner}}</span><span style="float: right">Interaction opened at {{i.interaction.time_opened}}</span>
					</div>
					<div class="collapse" id="interaction{{i.interaction.id}}">
						<div class="card-body">
							<p><strong>{{i.owner}} is working on: </strong> {{i.request.request_title}}</p><hr>
							<p><strong>{{i.owner}}'s problem is: </strong> {{i.request.request_description}}</p><hr>
							<p><strong>{{i.owner}} has tried: </strong> {{i.request.tried_solutions}}</p><hr>
							<a href="" data-toggle="modal" data-target="#InteractionfeedbackModal{{r.request.id}}" class="btn btn-danger">Resolve Interaction</a>
						</div>
					</div>
				</div>
				<!-- Feedback modal with interaction-->
				<div id="InteractionfeedbackModal{{r.request.id}}" class="modal fade">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            <div class="modal-header">
				            	<h4 id="addOfficeHourTitle" class="primary-header2 modal-title">Feedback Form</h4>
				                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only"></span></button>
				            </div>
				            <div id="modalBody" class="modal-body">
				            	<h4 class="card-title primary-header3">Would you like to provide some optional feedback before closing this interaction.</h4>
				            	<form id="feedbackForm" action="{% url 'digitalclerk_app:close_interaction' office_hour_id lecturer_id i.request.id i.interaction.id 1 1%}" method="POST">
									{% csrf_token %}
									<div class="form-group">
								    	<label for="{{ form.next_steps.id_for_label }}">What should the student do next?</label>
								    	{{ form.next_steps }}
								    </div>
									<div class="form-group">
								    	<label for="{{ form.foot_note.id_for_label }}">Any additional comments?</label>
								    	{{ form.foot_note }}
								    </div>
							    	<a href="{% url 'digitalclerk_app:close_interaction' office_hour_id lecturer_id i.request.id i.interaction.id 1 0 %}" class="btn btn-danger">No Thanks</a>
							    	<input style="color: white; width: 32%;" id="submitWithFeedback" class="btn btn-primary" type="submit" value="Submit Feedback" />
								</form>
				            </div>
				        </div>
				    </div>
				</div>
			{% endfor %}
			{% else %}
				<p class="font-size-lg">There are no open interactions.</p>
			{% endif %}
		</div>
		<h4 class="primary-header2" style="margin-top: 1.5rem; margin-bottom: 1rem;">
			Request Raised
			<button id="refreshOpenRequestsButton" class="btn btn-primary" style="float: right;"><i class="fa fa-refresh" aria-hidden="true"></i></button>
		</h4><hr class="seperator">
		<div id="raisedRequestsSection">
			{% if open_requests %}
				{% for r in open_requests %}
					<div class="card openRequest" style="margin-top: 1rem">
						<div class="card-header card-header-pending card-collapse" data-toggle="collapse" href="#request{{r.request.id}}">
							<span style="float: left">{{r.owner}}</span><span style="float: right">Request Raised at {{r.request.time_raised}}</span>
						</div>
						<div class="collapse" id="request{{r.request.id}}">
							<div class="card-body">
								<p><strong>I am working on: </strong> {{r.request.request_title}}</p><hr>
								<p><strong>My problem is: </strong> {{r.request.request_description}}</p><hr>
								<p><strong>I have tried: </strong> {{r.request.tried_solutions}}</p><hr>
								<a href="{% url 'digitalclerk_app:open_interaction' office_hour_id lecturer_id r.request.id 0 0 %}" class="btn btn-primary">Open Interaction</a>
								<a href="" data-toggle="modal" data-target="#nonInteractionfeedbackModal{{r.request.id}}" class="btn btn-danger">Cancel Request</a>
							</div>
						</div>
					</div>
					<!-- Feedback modal without interaction-->
					<div id="nonInteractionfeedbackModal{{r.request.id}}" class="modal fade">
					    <div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-header">
					            	<h4 id="addOfficeHourTitle" class="primary-header2 modal-title">Feedback Form</h4>
					                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only"></span></button>
					            </div>
					            <div id="modalBody" class="modal-body">
					            	<h4 class="card-title primary-header3">Would you like to provide some optional feedback before addressing this request.</h4>
					            	<form id="feedbackForm" action="{% url 'digitalclerk_app:open_interaction' office_hour_id lecturer_id r.request.id 2 1 %}" method="POST">
										{% csrf_token %}
										<div class="form-group">
									    	<label for="{{ form.next_steps.id_for_label }}">What should the student do next?</label>
									    	{{ form.next_steps }}
									    </div>
										<div class="form-group">
									    	<label for="{{ form.foot_note.id_for_label }}">Any additional comments?</label>
									    	{{ form.foot_note }}
									    </div>
								    	<a href="{% url 'digitalclerk_app:open_interaction' office_hour_id lecturer_id r.request.id 2 0 %}" class="btn btn-danger">No Thanks</a>
								    	<input style="color: white; width: 32%;" id="submitWithFeedback" class="btn btn-primary" type="submit" value="Submit Feedback" />
									</form>
					            </div>
					        </div>
					    </div>
					</div>
				{% endfor %}
			{% else %}
				<p class="font-size-lg">There are no open requests.</p>
			{% endif %}
		</div>
		<h4 class="primary-header2" style="margin-top: 1.5rem">Addressed Requests</h4><hr class="seperator">
		{% if closed_requests %}
			{% for r in closed_requests %}
				<div class="card" style="margin-top: 1rem">
					<div class="card-header card-header-addressed card-collapse" data-toggle="collapse" href="#request{{r.request.id}}">
						<span style="float: left">{{r.owner}}</span>
						<span style="float: right">Interaction closed at {{r.interaction.time_closed}}
							{% if r.status == 'Abandoned' %}
								<span style="color: #e03e16;"><strong>{{r.status}}</strong></span>
							{% else %}
								<span style="color: #1aaf13;"><strong>{{r.status}}</strong></span>
							{% endif %}
						</span>
					</div>
					<div class="collapse" id="request{{r.request.id}}">
						<div class="card-body">
							<p><strong>I am working on: </strong> {{r.request.request_title}}</p><hr>
							<p><strong>My problem is: </strong> {{r.request.request_description}}</p><hr>
							<p><strong>I have tried: </strong> {{r.request.tried_solutions}}</p><hr>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<p class="font-size-lg">You have not address any requests.</p>
		{% endif %}
	{% else %}
		<h2 class="primary-header2" style="color: red">You do not have permission to access this page as you are not a assistant/lecturer!</h2>
	{% endif %}
{% endblock %}

{% block optional_js %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('input').addClass("form-control");
			$('textarea').addClass("form-control");

			$("#refreshOpenRequestsButton").click(function(){
				$.ajax({
		            type: "GET",
		            url: "{% url 'digitalclerk_app:refresh_open_requests' %}?office-hour-id={{office_hour_id}}&lecturer={{lecturer_id}}" 
		        })
		        .done(function(response) {
		        	console.log(response)
		        	$('#raisedRequestsSection').html(response);
		        	$('input').addClass("form-control");
					$('textarea').addClass("form-control");
		        });
			});
		});
	</script>
{% endblock %}